.ic {
    font-size: 10px;
}

.ic:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("svg.svg");
    background-repeat: no-repeat;
    background-size: 61.2em 575.5em;
}

.no-svg .ic:before {
    background-image: url("../svg.png");
}



  .ic.i-sp-3d_rotation:before {
      background-position: 0em 0em;
      width: 4.8em;
      height: 4.8em;
  }




  .ic.i-sp-3d_rotation-1:before {
      background-position: 0em -4.8em;
      width: 4.8em;
      height: 4.8em;
  }




  .ic.i-sp-3d_rotation-2:before {
      background-position: 0em -9.6em;
      width: 6.4em;
      height: 6.4em;
  }




  .ic.i-sp-Mi:before {
      background-position: 0em -16em;
      width: 6em;
      height: 6em;
  }




  .ic.i-sp-Telegram:before {
      background-position: 0em -22em;
      width: 51.2em;
      height: 51.2em;
  }




  .ic.i-sp-Whatsapp:before {
      background-position: 0em -73.2em;
      width: 12.8em;
      height: 12.8em;
  }




  .ic.i-sp-acer:before {
      background-position: 0em -86em;
      width: 51.2em;
      height: 51.2em;
  }




  .ic.i-sp-apple:before {
      background-position: 0em -137.2em;
      width: 12em;
      height: 12em;
  }




  .ic.i-sp-battery:before {
      background-position: 0em -149.2em;
      width: 2.4em;
      height: 2.4em;
  }




  .ic.i-sp-charging:before {
      background-position: 0em -151.6em;
      width: 3.6em;
      height: 3.6em;
  }




  .ic.i-sp-dell:before {
      background-position: 0em -155.2em;
      width: 51.2em;
      height: 51.2em;
  }




  .ic.i-sp-fb:before {
      background-position: 0em -206.4em;
      width: 5em;
      height: 5em;
  }




  .ic.i-sp-headphones:before {
      background-position: 0em -211.4em;
      width: 3.2em;
      height: 3.2em;
  }




  .ic.i-sp-hp:before {
      background-position: 0em -214.6em;
      width: 51.2em;
      height: 51.2em;
  }




  .ic.i-sp-htc:before {
      background-position: 0em -265.8em;
      width: 51.2em;
      height: 51.2em;
  }




  .ic.i-sp-insta:before {
      background-position: 0em -317em;
      width: 5em;
      height: 5em;
  }




  .ic.i-sp-insta-1:before {
      background-position: 0em -322em;
      width: 5em;
      height: 5em;
  }




  .ic.i-sp-left:before {
      background-position: 0em -327em;
      width: 4em;
      height: 7.3em;
  }




  .ic.i-sp-left-1:before {
      background-position: 0em -334.3em;
      width: 9.6em;
      height: 9.6em;
  }




  .ic.i-sp-left-2:before {
      background-position: 0em -343.9em;
      width: 3.2em;
      height: 3.2em;
  }




  .ic.i-sp-lenovo:before {
      background-position: 0em -347.1em;
      width: 51.2em;
      height: 51.2em;
  }




  .ic.i-sp-right:before {
      background-position: 0em -398.3em;
      width: 4em;
      height: 7.3em;
  }




  .ic.i-sp-right-1:before {
      background-position: 0em -405.6em;
      width: 9.6em;
      height: 9.6em;
  }




  .ic.i-sp-right-2:before {
      background-position: 0em -415.2em;
      width: 3.2em;
      height: 3.2em;
  }




  .ic.i-sp-robot:before {
      background-position: 0em -418.4em;
      width: 6.6em;
      height: 6.6em;
  }




  .ic.i-sp-samsung:before {
      background-position: 0em -425em;
      width: 51.2em;
      height: 51.2em;
  }




  .ic.i-sp-skype:before {
      background-position: 0em -476.2em;
      width: 5em;
      height: 5em;
  }




  .ic.i-sp-up-1:before {
      background-position: 0em -481.2em;
      width: 1.6em;
      height: 1.6em;
  }




  .ic.i-sp-up-2:before {
      background-position: 0em -482.8em;
      width: 61.2em;
      height: 61.2em;
  }




  .ic.i-sp-usb:before {
      background-position: 0em -544em;
      width: 2.4em;
      height: 2.4em;
  }




  .ic.i-sp-viber:before {
      background-position: 0em -546.4em;
      width: 12.8em;
      height: 12.8em;
  }




  .ic.i-sp-vk:before {
      background-position: 0em -559.2em;
      width: 11.2196em;
      height: 11.2196em;
  }




  .ic.i-sp-vk-1:before {
      background-position: 0em -570.5em;
      width: 5em;
      height: 5em;
  }





